@import "./reset.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');
@import "./helpers.scss";

html{
	height: 100%;
}
html, body{
	margin: 0;
}
body{
	position: relative;
	font-size: 16px;
	line-height: 24px;
    min-height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: #fff;
}
*{
	font-family: $base-font;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}
button {
    display: block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
h3 {
    font-size: 50px;
    line-height: 1.3;
}
h4 {
    font-size: 22px;
    line-height: 1.3;
}
h5 {
    font-size: 25px;
    line-height: 38px;
}
p {
    font-size: 16px;
    line-height: 30px;
}
.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

// header
.main-header {
    h1, h2 {
      font-weight: 600;
      margin-bottom: 24px;
    }
  
    .center {
        padding: 0 5vw;
        position: relative;
        z-index: 1000;
        background-color: #fff;
    }

    .nav-container {
        margin: 0 15px 0 0;
    }
  
    .main-nav {
      display: inline-flex;
      align-items: center;
  
      .btn {
        margin-top: 0;
        box-shadow: none;
        min-width: 92px;
        height: 32px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
      }

      a {
          color: $main-black;
          text-transform: uppercase;
          font-size: 12px;
          padding: 50px 30px 30px;
          background-color: #fff;
        //   &:hover {
        //       color: #fff;
        //       background-color: $main-black;
        //       transition: .3s;
        //   }
      }
    }

    .fixed-header {
        max-width: 1600px;
        width: 100%;
        position: fixed;
        top: 0;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 999;
        display: flex;
        justify-content: flex-end;
        .main-nav {
            .btn {
                height: 90px;
                padding: 0 23px;
            }
        }
    }
}

.slider-title-block {
    display: flex;
    padding-left: 6.6vw;
    .slider-btns {
        display: flex;
        button {
            svg {
                &:hover {
                    transform: scaleX(1.5);
                    transition: .4s;
                }
            }
        }
        .num {
            margin: 0 16px;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
        }
        .current {
            font-size: 23px;
        }
        button + button {
            margin-left: 30px;
        }
    }
    h3 + .slider-btns {
        margin-left: 31px;
    }
}

.text-blocks-slider {
    margin: 0 0 0 9.4vw;
    padding: 14vw 0 0 0;
    position: relative;
    h3 {
        letter-spacing: 1px;
    }
    .slider {
        padding: 2.8vw 0 0 0;
        max-width: 1200px;
        margin: 0 auto;
        .slick-slide {
            padding: 23px 3vw 0;
            text-align: center;
            margin: 60px 0 0 0;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 35px;
                height: 2px;
                background-color: $yellow;
            }
            &:nth-of-type(2n) {
                &::before {
                    background-color: $blue;
                }
            }
            &:nth-of-type(3n) {
                &::before {
                    background-color: $pink;
                }
            }
        }
    }
    .left-decor{
        &:before {
            content: '';
            position: absolute;
            background-color: $powder;
            top: 7.5vw;
            left: 0;
            width: 5vw;
            height: 5.5vw;
            z-index: 1;        
        }
        &:after {
            content: '';
            position: absolute;
            background-color: #fff;
            top: 3.3vw;
            left: 3vw;
            width: 6vw;
            height: 6vw;
            z-index: 2;
            box-shadow: -30px 30px 50px #00000022;
        }
        .dots-decor {
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            width: 1.2vw;
            height: 7.2vw;
            left: 1vw;
            top: 10.5vw;
            background-image: url(../img/rectangle-w2-powd.svg);
        }
    }
    // .right-decor{
        &:before {
            content: '';
            position: absolute;
            background-color: $blue_5;
            top: -6%;
            right: 0;
            width: 11vw;
            height: 23vw;
            z-index: 1;
            border-top-left-radius: 1748px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 1748px;    
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            width: 3.7vw;
            height: 7.2vw;
            right: 3.8vw;
            top: -2.2vw;
            background-image: url(../img/rectangle-w2-purple.svg);
        }
    // }
}

.descr-img-slider {
    margin: 8vw 0 0 11vw;
    .slider-title-block {
        padding-left: 5vw;
        & h3+.slider-btns {
            margin-left: 47px;
        }
        .slider-btns button+button {
            margin-left: 45px;
        }
    }
    
    .slider {
        margin-top: 6vw;
        .slick-list {
            padding: 60px 0;
        }
        .slick-slide {
            padding: 0 3vw 0 1px;
        }
        .panel {
            .text-block {
                h4 {
                    font-size: 24px;
                    font-weight: normal;
                }
                .content {
                    display: none;
                }
            }
            .img-block {
                display: none;
            }
        }
        .slick-current {
            width: 100%;
            max-width: 37.4vw;
            .panel {
                display: flex;
                width: 100%;
                justify-content: space-between;
                .text-block {
                    width: 48%;
                    .content {
                        display: block;
                        .btn {
                            width: 85%;
                            max-width: 210px;
                            margin-top: 3vw;
                        }
                    }
                    p {
                        margin-top: 30px;
                        max-width: 271px;
                    }
                }
                .img-block {
                    display: block;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 44%;
                    position: relative;
                    height: auto;
                    &:before {
                        content: '';
                        position: absolute;
                        z-index: 3;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 4.2vw;
                        height: 5.2vw;
                        left: .2vw;
                        top: -1vw;                   
                        background-image: url(../img/dots-cascade.svg);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        background-color: #fff;
                        top: 0;
                        left: 0;
                        width: 3vw;
                        height: 3vw;
                        z-index: 0;
                    }
                    .top-white-square {
                        position: absolute;
                        background-color: #fff;
                        top: 0;
                        left: 2vw;
                        width: 3vw;
                        height: 3vw;
                        z-index: 1;
                        box-shadow: -30px 30px 50px #00000022;
                    }
                    .top-purple-block {
                        position: absolute;
                        background-color: $blue_6;
                        top: 12%;
                        left: -6%;
                        width: 5vw;
                        height: 5vw;
                        z-index: 2;
                    }
                    .bot-white-block {
                        position: absolute;
                        background-color: #fff;
                        bottom: -12%;
                        right: 1vw;
                        width: 3vw;
                        height: 3vw;
                        z-index: 2;
                        box-shadow: -30px 30px 50px #00000022
                    }
                }
            }
        }
    }
}

.top-video-section {
    padding: 60px 0 40px 0;
    margin: 50px 0 0 0;
    
    .title {
        display: flex;
        h3 {
            flex-basis: 940px;
            padding: 0 0 0 12vw;
        }
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        grid-column-gap: 7%;
        grid-template-rows: minmax(100%,968px);
        .left {
            padding: 9.1vw 0 0 11vw;
            position: relative;
            overflow: hidden;
            
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                width: 23vw;
                height: 23vw;
                left: -7vw;
                bottom: 7vw;
                background-color: $turquoise;
                border-radius: 50%;
            }
            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                background-repeat: no-repeat;
                background-size: contain;
                width: 8vw;
                height: 6.3vw;
                left: 9.7vw;
                bottom: 20.8vw;
                background-image: url(../img/rectangle-w5-turq.svg);
            }
            p {
                font-size: 20px;
                line-height: 38px;
            }
            .btn-block {
                padding: 4.3vw 0 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 20px;
            }
        }
        .right {
            margin: 0 0 0 6vw;
            position: relative;
            .video-wrap-outer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .video-wrap-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,.35);
                        z-index: 2;
                        transform: scale(0);
                        transition: .01s;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 25px 0 25px 50px;
                        border-color: transparent transparent transparent #fff;
                        z-index: 3;
                        transform: scale(0);
                        transition: .3s;
                    }
                    &.pause {
                        &:before {
                            transform: scale(1);
                            transition: .01s;
                        }
                        &:after {
                            transform: scale(1);
                            transition: .3s;
                        }
                    }
                }
            }
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                overflow: hidden;
                z-index: 1;
            }
            .tl-white-sq {
                position: absolute;
                background-color: #fff;
                z-index: 2;
                height: 5vw;
                width: 16vw;
                top: -2px;
                left: -2px;
            }
            .tr-white-sq {
                position: absolute;
                background-color: #fff;
                top: -2vw;
                right: 10vw;
                width: 4vw;
                height: 4vw;
                z-index: 2;
                box-shadow: -30px 30px 50px #00000022;;
            }
            .ml-pink-sq {
                position: absolute;
                background-color: $pink;
                bottom: 14.8vw;
                left: -5vw;
                width: 7vw;
                height: 7vw;
                z-index: 2;
            }
            .ml-dots {
                position: absolute;
                z-index: 2;
                background-repeat: no-repeat;
                background-size: contain;
                width: 3.4vw;
                height: 4vw;
                left: -4vw;
                bottom: 20.3vw;
                background-image: url(../img/rectangle-middle.svg);
            }
            .bl-white-sq {
                position: absolute;
                background-color: #fff;
                z-index: 2;
                height: 3vw;
                width: 7vw;
                bottom: -2px;
                left: -2px;
            }
            .br-white-sq-1 {
                position: absolute;
                background-color: #fff;
                z-index: 2;
                height: 5vw;
                width: 6vw;
                bottom: -2px;
                right: -2px;
            }
            .br-yellow-sq {
                position: absolute;
                background-color: $powder;
                z-index: 2;
                width: 7.5vw;
                height: 7.5vw;
                bottom: -43px;
                right: 4.6vw;
            }
            .br-white-sq-2 {
                position: absolute;
                background-color: #fff;
                z-index: 2;
                height: 14vw;
                width: 4.7vw;
                bottom: 1.1vw;
                right: 2.4vw;
                box-shadow: -30px 30px 50px #00000022;
            }
            .br-dots {
                position: absolute;
                z-index: 2;
                background-repeat: no-repeat;
                background-size: contain;
                width: 1.2vw;
                height: 7.2vw;
                right: 9.8vw;
                bottom: -6.2vw;
                background-image: url(../img/rectangle-w2-powd.svg);
            }
            .bg-logo {
                position: absolute;
                background-image: url(../img/video-bg-logo.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 19vw;
                height: 100%;
                top: -8vw;
                right: 0;
                z-index: -1;
            }
        }
    }
}

.imgs-set-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 11%;
    padding: 13vw 0 0 60px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        top: 2vw;
        left: 2.2vw;
        width: 5.2vw;
        height: 6vw;
        z-index: 2;
        box-shadow: -30px 30px 50px #0000000A;
    }
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: 126% 132%;
        width: 3vw;
        height: 5vw;
        left: 0;
        top: 5.8vw;
        background-image: url(../img/rectangle-w5-turq.svg);
    }
    .imgs-block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 7%;
        grid-auto-rows: minmax(40px,85px);
        grid-row-gap: 30px;
        .img {
            background-position: center;
        }
    }
    .title-block {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background-color: $pink_2;
            top: -6vw;
            left: 1.2vw;
            width: 11.5vw;
            height: 11.5vw;
            z-index: 1;
            border-radius: 50%;
        }
        &:after {
            content: "";
            position: absolute;
            top: -0.5vw;
            left: 8.6vw;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 176px 102px 0;
            border-color: $blue_3 transparent transparent;
            z-index: 2;
        }
        .dots-decor {
            position: absolute;
            z-index: 3;
            background-repeat: no-repeat;
            background-size: contain;
            width: 9vw;
            height: 4.3vw;
            left: 6.9vw;
            top: 4.8vw;
            transform: rotate(150deg);
            background-image: url(../img/dots-item-1.svg);
        }
        h3 {
            z-index: 100;
            position: relative;
        }
    }
}

.cascade-text {
    margin: 14vw 0 0 0;
    padding: 0 16vw;
    position: relative;
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8vw;
        grid-auto-rows: auto;
        grid-row-gap: 26px;
        padding: 6vw 2vw 0 5.3vw;
        .item {
            .img {
                height: 6.1vw;
                width: 6.1vw;
                position: relative;
            }
            h4 {
                margin: 37px 0 0;
                font-size: 24px;
                line-height: 38px;
                font-weight: normal;
            }
            p {
                margin: 30px 0 0 0;
            }
            &:nth-of-type(2n) {
                padding: 5.8vw 0 0;
            }
            
            &:nth-of-type(1) .img {
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 1.2vw;
                    left: -1.2vw;
                    width: 5vw;
                    height: 5vw;
                    border-radius: 50%;
                    background-color: $blue_4;
                }
            }
            &:nth-of-type(2) .img {
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 2vw;
                    left: 2.4vw;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0px 2.7vw 4.8vw;
                    transform: rotate(90deg);
                    border-color: transparent transparent $yellow_2;
                }
            }
            &:nth-of-type(3) .img {
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: .5vw;
                    left: 1.8vw;
                    width: 5.5vw;
                    height: 5.5vw;
                    border-radius: 50%;
                    background-color: $pink_3;
                }
            }
            &:nth-of-type(4) .img {
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 2vw;
                    left: 2.4vw;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0px 2.7vw 4.8vw;
                    border-color: transparent transparent $yellow_3; 
                }
            }
        }
    }
    .left-decor{
        &:before {
            content: '';
            position: absolute;
            background-color: $powder;
            top: 12.5vw;
            left: 0;
            width: 9vw;
            height: 9.5vw;
            z-index: 1;        
        }
        &:after {
            content: '';
            position: absolute;
            background-color: #fff;
            top: 10vw;
            left: 5vw;
            width: 5vw;
            height: 8vw;
            z-index: 2;
            box-shadow: -30px 30px 50px #00000022;
        }
        .dots-decor {
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            width: 2.8vw;
            height: 8vw;
            left: 6.8vw;
            top: 19.5vw;
            background-image: url(../img/dots-rectangle-tr.svg);
        }
    }
    .right-decor {
        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            width: 1.1vw;
            height: 7.4vw;
            right: 13.7vw;
            top: 13.2vw;
            opacity: .4;
            background-image: url(../img/rectangle-w2-powd.svg);
        }
        &:after {
            content: '';
            position: absolute;
            background-color: #fff;
            top: 8vw;
            right: 8vw;
            width: 5vw;
            height: 8vw;
            z-index: 2;
            box-shadow: -30px 30px 50px #00000022;
        }
    }
}

.decored-title {
    margin: 5vw 0 0 16.5vw;
    padding: 4.5vw 0 0 0;
    position: relative;
    z-index: 3;
    h3 {
        display: flex;
        align-self: center;
        max-width: 1085px;
        padding: 33px 0 0 5.5vw;
    }
    // .decor{
        &:before {
            content: "";
            position: absolute;
            z-index: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/dots-triangle-big.svg);
            top: 1vw;
            right: 18vw;
            width: 6vw;
            height: 6vw;
        }
        &:after {
            content: "";
            position: absolute;
            top: 2.5vw;
            right: 15.5vw;
            height: 0;
            border-style: solid;
            border-width: 12vw 7vw 0;
            border-color: $powder transparent transparent;
            z-index: -1;
            opacity: 0.6;
        }
    // }
}


.img-block {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.dispenses-section {
    margin-left: 17.5vw;
    padding: 6vw 0 0;
    display: grid;
    grid-template-columns: 1fr 2.9fr;
    grid-column-gap: 7%;
    grid-template-rows: minmax(100%,659px);

    .text-block {
        h4 {
            margin: 5.6vw 0 0 0px;
        }
        .content {
            margin: 35px 0 0 0;
            p {
                line-height: 1.9;
            }
            .btn {
                margin: 30px 0 0 0;
            }
        }
    }

    .img-block-wrap {
        padding: 0 0 23% 8vw;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/rectangle-w2-purple.svg);
            transform: rotate(-90deg);
            width: 4vw;
            height: 7vw;
            left: 2.5vw;
            bottom: 36%;
            z-index: 1;
        }

        .bot-r {
            position: absolute;
            bottom: 4vw;
            right: 0;
            width: 50%;
            height: 39%;
            background-image: url(../img/Dashboard.svg);
            z-index: 1;
            background-size: contain;
            background-repeat: no-repeat;
            p {
                text-transform: uppercase;
                font-size: 12px;
                text-align: center;
                background-color: #fff;
                padding: 24px 30px;
                transform: translateY(30%);
                max-width: 175px;
                margin: 0 2vw 0 auto;
                position: relative;
                z-index: 2;
            }
        }

        .bl-item-1 {
            position: absolute;
            left: 5vw;
            bottom: 30%;
            z-index: 2;
        }
        
        .bl-item-2 {
            position: absolute;
            left: 0;
            bottom: 1.4vw;

            &:before {
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                width: 11vw;
                height: 6.3vw;
                left: 12.5vw;
                top: 0.5vw;
                background-image: url(../img/dots-item-2.svg);
            }
        }

        .tr-square {
            position: absolute;
            background-color: #fff;
            top: -6vw;
            right: 7vw;
            width: 3vw;
            height: 7.5vw;
            z-index: 2;
            box-shadow: -30px 30px 50px #00000022;;
        }
    }
}

// descr-num-item block
.descr-num-item {
    display: flex;
    width: 100%;
    max-width: 275px;
    position: relative;
    padding: 20px 0 0 32px;
    .percent-wrap {
        .percent {
            background-color: $powder;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.7vw;
            height: 4.7vw;
            left: 0;
            top: 0;
            font-size: 13px;
            font-weight: bold;
        }
    }
    .text {
        padding: 18px 21px 11px 4vw;
        text-align: center;
        background-color: #fff;
        box-shadow: -9px 13px 16px -14px rgba(0,0,0,.8);
        width: 100%;
        p {
            text-transform: uppercase;
            font-size: 13px;
        }
        .small {
            font-size: 11px;
            opacity: .7;
        }
    }

    &.blue {
        .percent {
            background-color: $powder;
        }
    }

    &.pink {
        .percent {
            background-color: $pink_2;
        }
    }
}

// left-img-section
.left-img-section {
    margin: 10vw 0 0 13vw;
    padding: 6vw 0 0;
    display: grid;
    grid-template-columns: 1fr 1.07fr;
    grid-column-gap: 3.3%;
    grid-template-rows: minmax(100%,726px);
    max-width: 100%;
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        background-color: $turquoise;
        top: 0;
        left: 7vw;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        opacity: 0.7;
        z-index: -1;
    }

    .descr-num-item {
        .text {
                padding: 30px 21px 30px 4vw;
        }
    }

    .img-block-wrap {
        padding: 2.3vw 0 0 0;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/rectangle-w5-turq.svg);
            width: 7vw;
            height: 6vw;
            right: 2.3vw;
            top: 38%;
            z-index: 1;
            transform: rotate(90deg);         
        }

        .img-block {
            width: 74%;
        }
        .tr-item-1 {
            position: absolute;
            top: 0;
            right: 6vw;
            z-index: 1;
            .percent {
                background-image: url('../img/online_campaign_icon.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .tr-item-2 {
            position: absolute;
            top: 8.3vw;
            right: 0.7vw;
            z-index: 1;
            .percent {
                background-image: url('../img/device_campaign_icon.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .text-block {
        margin: 15.2vw 0 0 0;
        h4 {
            line-height: 1.6;
            font-size: 23px;
        }
        .content {
            margin: 30px 0 0 0;
            max-width: 370px;
            p {
                line-height: 1.8;
            }
            .btn {
                margin: 3vw 0 0 0;
            }
        }
    }
}

// footer
footer {
    position: relative;
    overflow: hidden;
    margin: 10vw 0 0 0;

    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        bottom: 14.5vw;
        left: 7.3vw;
        width: 4vw;
        height: 8vw;
        z-index: 2;
        box-shadow: -30px 30px 50px #00000022;;
    }
    &:after {
        content: '';
        position: absolute;
        background-color: #d2d3ff;
        bottom: -16%;
        right: -17%;
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        z-index: 0;
    }

    .bg-decor {
            position: absolute;
            background-color: #caccff;
            width: 68%;
            height: 98%;
            position: absolute;
            bottom: 0;
            right: 0;
            border-top-left-radius: 500px;
            z-index: -1;
            opacity: 0.2;
    }

    .footer-contact {
        margin: 0 0 0 11.3vw;
        padding: 6vw 0 0;
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        grid-column-gap: 3%;    
        grid-template-rows: min-content;
        max-width: 100%;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/rectangle-alter-bl-blue.svg);
            width: 8vw;
            height: 7vw;
            left: 27.3vw;
            top: 5vw;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            background-color: #E8EEFC;
            top: 0;
            left: 25.5vw;
            width: 6.5vw;
            height: 8vw;
            z-index: -1;
        }

        .left {
            max-width: 610px;
            width: 100%;
            padding: 0 4vw;

            .dots-wrap {
                width: fit-content;
                margin: 1.3vw auto 0;
            }
            .slider {
                width: 100%;
                max-width: 390px;
                text-align: center;
                margin: 51px auto 0;

                .slick-list {
                    font-size: 24px;
                    line-height: 1.5;
                    .quote {
                        font-size: 24px;
                        line-height: 38px;
                    }
                    .author {
                        margin: 4vw 0 0 0;
                        font-size: 16px;
                    }   
                    img {
                        margin: 13px auto;
                        max-width: 140px;
                        max-height: 55px;
                    }           
                }
            }
        }

        .right {
            padding: 0 0 0 2.4vw;
            p {
                margin: 61px 0 0 0;
                max-width: 480px;
            }

            .btn {
                margin: 65px 0 0 0;
            }
            .offices {
                display: grid;
                grid-template-columns: max-content max-content;
                grid-column-gap: 45px;
                margin: 88px 0 0;
                position: relative;
                z-index: 1;
                div {
                    display: grid;
                    grid-template-rows: min-content 1fr 0.4fr;
                    span {
                        font-size: 23px;
                        letter-spacing: 1px;
                    }
                    address {
                        margin: 28px 0 0 0;
                        font-style: normal;
                        font-size: 14px;
                        letter-spacing: .9px;
                        line-height: 30px;
                    }
                    a {
                        margin-top: auto;
                        color: #000;
                    }
                }
            }
        }
    }

    .footer-nav {
        margin: 90px 0 0 0;
        position: relative;
        z-index: 10;
        .nav-container {
            width: 70%;
            ul {
                display: flex;
                width: 100%;
                justify-content: space-between;
                li {
                    padding: 15px;
                    text-transform: capitalize;
                }
            }
        }
        .center {
            padding: 0 9vw;
        }
    }
}

// slick-dots style
.slick-dots {
    li {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            
            &:before {
                content: '•';
                font-size: 25px;
                line-height: 27px;
                position: absolute;
                top: 0;
                left: 0;
                width: 28px;
                height: 28px;
                text-align: center;
                color: black;
            }
        }
        
        &.slick-active {
            button {
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background-color: #000000;
                    opacity: 0.08;
                    border-radius: 50%;
                }
            }
        }
    }
}

@import "pages/sampling-device.scss";
@import "pages/online-campaign.scss";