// Fonts
$base-font: 'Nunito', sans-serif;

// Colors
$main-black: #030707;
$pink: #FDDBF0;
$pink_2: #FFEBFE;
$pink_3: #FFF2F2;
$blue: #a1a3f7;
$blue_2: #EBFAFF;
$blue_3: #DBDFFE;
$blue_4: #EBFAFF;
$blue_5: #F7EDFF;
$blue_6: #98B6FF;
$yellow: #bccc66;
$yellow_2: #F7FFD5;
$yellow_3: #FFF8EA;
$powder: #FFE2B4;
$bg-gray: #f3f3f3;
$turquoise: #EDFFFF;
