// Fonts
$base-font: 'Nunito', sans-serif;

// Colors
$main-black: #232121;
$pink: #e6b4d7;
$blue: #a1a3f7;
$blue_2: #878ae6;
$blue_3: #d2c0f5;
$yellow: #bccc66;
$powder: #e8c288;
$bg-gray: #f3f3f3;
$turquoise: #afeeee;
