.big-img-slider-section-min {
    position: relative;

    .content {
        display: grid;
        grid-template-columns: 2.2fr 1fr;
        padding: 0 8vw 0 0;
        grid-template-rows: minmax(100%,660px);
        .img {
            background-size: cover;
            height: 73%;
        }
        .text-block-wrap {
            padding: 9.5vw 0 0;
            height: fit-content;
            .text-block {
                height: fit-content;
                background-color: #fff;
                padding: 2vw 0 4.7vw 2.8vw;
                margin: 0 0 -1.6vw -12.7vw;
                position: relative;
                max-width: 650px;
    
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 8vw;
                    height: 3vw;
                    left: -2.4vw;
                    bottom: 0;
                    background-image: url(../img/rectangle-w4-black.svg);
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    bottom: 4vw;
                    left: -2.4vw;
                    width: 3.7vw;
                    height: 5.3vw;
                    z-index: 2;
                    box-shadow: -47px 30px 100px rgba(0,0,0,.15);
                }
                .side-decor {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 92%;
                    width: 47%;
                    background-color: #E2F8FD;
                    z-index: 0;
                }
                h3 {
                    position: relative;
                    z-index: 3;
                }
                p {
                    margin: 2.2vw 0 0 0;
                    max-width: 570px;
                    position: relative;
                    z-index: 3;
                    font-size: 20px;
                    line-height: 38px;
                    color: #030707;
                    font-weight: 600;
                }
            }
            .additionl {
                text-transform: uppercase;
                font-size: 13px;
                line-height: 1.8;
                padding: 2vw 0;
                width: fit-content;
                position: relative;
                margin: 0 5vw 0 auto;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #000;
                    left: 0;
                    bottom: 2.2vw;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #000;
                    right: -1.8vw;
                    bottom: 0.5vw;
                    border-radius: 50%;
                    width: 4.5vw;
                    height: 4.5vw;
                }
            }
        }
    }

    .pagination {
        transform: translateY(-9vw);
        width: fit-content;
        padding: 10px 10px 10px 11vw;

        .slick-dots {
            display: flex;
            text-align: center;
            li {
                font-size: 14px;
                width: 35px;
                display: flex;
                &.slick-active {
                    font-size: 22px;
                    &:after {
                        content: '/';
                        font-size: 27px;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}

// icon-items-center-section
.icon-items-center-section-outer {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        background-color: $pink;
        top: 0;
        right: -20%;
        width: 24vw;
        height: 23vw;
        border-radius: 50%;
        z-index: 1;
        opacity: .3;
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        width: 4vw;
        height: 6vw;
        right: 1vw;
        top: 0;
        background-image: url(../img/rectangle-w5-purple.svg);
    }
    .decor-square {
        position: absolute;
        background-color: #fff;
        top: 2.7vw;
        left: 6.7vw;
        width: 4.2vw;
        height: 7.3vw;
        z-index: 2;
        box-shadow: -47px 30px 100px rgba(0,0,0,.15);;
    }

    .icon-items-center-section {
        margin: 0 auto;
        max-width: 1184px;
        padding: 9vw 0 0;
    
        h3 {
            max-width: 341px;
            position: relative;
            z-index: 3;
        }
        .items {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 11%;
            max-width: 1075px;
            position: relative;
            z-index: 3;
            text-align: center;
    
            & > div {
                max-width: 270px;
                .img {
                    background-size: contain;
                    height: 108px;
                    width: 120px;
                    max-width: 100%;
                    max-height: 100%;
                    background-position-y: top;
                    background-position-x: left;
                    margin: 0 auto;
                    position: relative;
                }
                h4 {
                    font-size: 25px;
                    font-weight: normal;
                    margin: 2.2vw 0 0;
                }
                p {
                    max-width: 290px;
                    margin: 1.7vw 0 0 0;
                }

                &:nth-of-type(1) .img {
                    &:before {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        top: 1vw;
                        left: -1vw;
                        width: 5vw;
                        height: 5vw;
                        background-color: #FFFAEA;
                    }
                }
                &:nth-of-type(2) .img {
                    &:before {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        top: -1.2vw;
                        left: 2vw;
                        width: 6vw;
                        height: 6vw;
                        border-radius: 50%;
                        background-color: $pink_3;
                    }
                }
                &:nth-of-type(3) .img {
                    &:before {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        top: 2vw;
                        right: -1.2vw;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 4.7vw 0 0 4.8vw;
                        border-color: transparent transparent transparent $blue_2;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        .btn {
            margin: 3.5vw auto 0;
            display: block;
        }
    }
}

// cascade-text-img-section
.cascade-text-img-section {
    position: relative;
    margin-top: 10vw;

    &:before {
        content: "";
        position: absolute;
        background-color: $pink_4;
        top: 2.3vw;
        left: 0;
        width: 6.2vw;
        height: 13.5vw;
        z-index: 2;
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 3;
        background-repeat: no-repeat;
        background-size: contain;
        width: 5.8vw;
        height: 5.5vw;
        left: 2.3vw;
        top: 12.6vw;
        background-image: url(../img/rectangle-w7h7-purple.svg);
    }

    .inner {
        max-width: 1388px;
        width: 100%;
        margin: 0 0 0 auto;
        h3 {
            max-width: 588px;
            width: 100%;
        }
        .content {
            display: grid;
            grid-template-columns: 1.05fr 1fr;
            margin: 1.4vw 0 0 0;
            padding: 0 0 3.3vw 0;
            position: relative;
            z-index: 10;

            &:before {
                content: "";
                position: absolute;
                background-color: #fff;
                bottom: 0;
                left: 11vw;
                width: 4vw;
                height: 6vw;
                z-index: -1;
                box-shadow: -47px 30px 100px rgba(0,0,0,.15);;
            }

            .text-block {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2%;
                grid-auto-rows: auto;
                grid-row-gap: 0;
                padding: 7.4vw 0;
                .item {
                    max-width: 318px;
                    width: 100%;
                    h4 {
                        font-size: 24px;
                    }
                    p {
                        margin: 25px 0 0 0;
                        font-weight: 600;
                    }

                    &:nth-of-type(2n) {
                        padding: 5.8vw 0 0 35px;
                    }
                }
            }
            .img-block {
                position: relative;
                padding: 0 0 3.5vw 0;
                height: calc(100% + 3.5vw);

                &:before {
                    content: "";
                    position: absolute;
                    background-color: $pink_4;
                    bottom: -10vw;
                    right: 9.3vw;
                    width: 8vw;
                    height: 13vw;
                    z-index: 1;
                }
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 6vw;
                    height: 6vw;
                    right: 13vw;
                    bottom: -9vw;
                    transform: rotate(90deg);
                    background-image: url(../img/rectangle-w7h7-purple.svg);
                }

                .wrap {
                    width: 100%;
                    height: calc(100% - 1.8vw);
                    margin: 1.8vw 0 0 0;
                    position: relative;
                    .img {
                        width: 84%;
                        height: 100%;
                        position: absolute;
                        background-size: cover;
                        top: 0;
                        right: 0;
                    }
                }
                .bot-block {
                    .img {
                        position: absolute;
                        left: -2vw;
                        bottom: -10.2vw;
                        top: unset;
                        width: 33.8vw;
                        height: 27vw;
                        background-size: contain;
                        z-index: 3;
                    }
                    p {
                        font-size: 15px;
                        text-transform: uppercase;
                        padding: 2.3vw 4.7vw;
                        background: #fff;
                        margin: -3vw 7.8vw 0 0;
                        display: flex;
                        justify-content: flex-end;
                        position: relative;
                        z-index: 2;
                    }
                }

                .side-decor {
                    &:before {
                        content: '';
                        position: absolute;
                        background-color: #B7FFF7;
                        top: 0;
                        right: 1.5vw;
                        width: 5.4vw;
                        height: 5.1vw;
                        z-index: 2;        
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        background-color: #fff;
                        top: -3.3vw;
                        right: 0;
                        width: 3.1vw;
                        height: 5vw;
                        z-index: 1;
                        box-shadow: -47px 30px 100px rgba(0,0,0,.15);;      
                    }
                    .dots-decor {
                        position: absolute;
                        z-index: 3;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 5vw;
                        height: 5vw;
                        right: 0.6vw;
                        top: -4vw;
                        background-image: url(../img/dots-flash-green.svg);
                    }
                }
            }
        }
    }
}

.text-slider-titled-items {
    padding: 11.9vw 0 0;
    position: relative;
    h3 {
        max-width: 580px;
    }
    .slider-title-block {
        padding-left: 11.3vw;
        .slider-btns {
            display: flex;
            align-items: flex-end;
            padding: 0 0 6px 0;
        }
        & h3 +.slider-btns {
            margin-left: 23px;
        }
        & .slider-btns button+button {
            margin-left: 42px;
        }
    }
    .slider {
        padding: 2.8vw 0 0 11.3vw;
        margin: 0 auto;
        .slick-slide {
            padding: 0 4vw 0 0;
            margin: 60px 1vw 0 0;
            position: relative;
            display: grid;
            grid-template-rows: 0.5fr 1fr;
            h4 {
                font-size: 24px;
                font-weight: normal;
            }
            p {
                margin: 2vw 0 0 0;
                color: $main-black;
            }
        }
    }
    .left-decor{
        &:before {
            content: '';
            position: absolute;
            background-color: $powder;
            top: 12.5vw;
            left: 0;
            width: 9vw;
            height: 9.5vw;
            z-index: 1;        
        }
        &:after {
            content: '';
            position: absolute;
            background-color: #fff;
            top: 10vw;
            left: 5vw;
            width: 5vw;
            height: 8vw;
            z-index: 2;
            box-shadow: -47px 30px 100px rgba(0,0,0,.15);
        }
        .dots-decor {
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            width: 2.8vw;
            height: 8vw;
            left: 6.8vw;
            top: 19.5vw;
            background-image: url(../img/dots-rectangle-tr.svg);
        }
    }
}

.expand-items-section.left-title {
    h3 {
        margin: 2.5vw 0 0 4.5vw;
    }
    .items {
        & > div {
            padding: 11px 2vw 25px;
        }
    }
}

.admin-imgs-section {
    margin: 10vw 0 0 auto;
    position: relative;
    max-width: 1393px;

    .img {
        background-position: unset;
    }

    .iconed-block {
        .img {
            width: 18vw;
            height: 6vw;
            box-shadow: -141px 2px 138px 0 rgba(0,0,0,.1);
            background-size: cover;
            max-width: 334px;
        }
        .location {
            background-image: url(../img/location-icon-block.svg);
            position: relative;
            z-index: 8;
        }
        .status {
            background-image: url(../img/status-icon-block.svg);
            margin-left: 5.2vw;
            position: relative;
            z-index: 7;
        }
    }

    .imgs-block {
        margin-left: 3.2vw;
        max-width: 1122px;
        .main-panel {
            background-image: url(../img/admin-dashboard.png);
            width: 59vw;
            height: 19.5vw;
            max-width: 1066px;
            position: relative;
            z-index: 5;
        }
        .trays {
            background-image: url(../img/admin-trays.png);
            margin-left: 39vw;
            transform: translateY(-7vw);
            width: 21vw;
            height: 18.6vw;
            position: relative;
            z-index: 6;
            box-shadow: -17px 2px 138px 0 rgba(0,0,0,.1);
        }
    }


    .circle {
        position: absolute;
        right: 0;
        top: 0;
        height: 42vw;
        width: 42vw;
        
        &:after {
            content: '';
            position: absolute;
            top: 8vw;
            right: 26vw;
            width: 7.5vw;
            height: 5vw;
            z-index: 2;
            background-size: contain;
            z-index: 2;
            background-image: url(../img/rectangle-w4-black.svg) ;
            background-repeat: no-repeat;
        }
        .inner {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: -6vw;
                width: 42vw;
                height: 42vw;
                border-radius: 50%;
                z-index: 1;
                background-color: #EDFFFF;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 13vw;
        left: 0vw;
        width: 12vw;
        height: 8vw;
        z-index: 3;
        background-color: #FFF7EA;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 12vw;
        left: -5vw;
        width: 8vw;
        height: 8vw;
        transform: rotate(180deg);
        z-index: 4;
        background-image: url(../img/dots-triangle-big.svg);
        background-repeat: no-repeat;
    }
}

.big-steps-decored-section {
    h3 {
        padding-left: 16.6vw;
        max-width: 840px;
    }
    .content {
        position: relative;
        z-index: 5;

        &:before {
            content: '';
            position: absolute;
            z-index: 4;
            bottom: 0;
            left: 0;
            width: 16.5vw;
            height: 82%;
            background-color: #F5FAFF;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 5;
            top: 4vw;
            left: 10.7vw;
            width: 3.1vw;
            height: 6.7vw;
            background-image: url(../img/rectangle-w4-blue.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }

        .steps-block {
            margin: 6.2vw 0 0 auto;
            padding: 0 5vw 2.2vw 0;
            max-width: 1270px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 6.5vw;
            position: relative;
            z-index: 10;

            .step {
                display: flex;
                width: 465px;
                .num {
                    font-weight: bold;
                    color: #DEEBFF;
                    font-size: 50px;
                    line-height: 66px;
                    span {
                        font-size: 30px;
                    }
                }
                .text {
                    margin-left: 23px;
                    h5 {
                        font-weight: normal;
                        
                    }
                    p {
                        margin: 0.8vw 0 0;
                        line-height: 1.8;
                    }
                }

                &.center {
                    max-width: 606px;
                    justify-content: center;
                    margin: 1.8vw auto 0;
                    .text {
                        p {
                            margin: 1vw 0 0;
                        }
                    }
                }
            }
        }
    }
    .big-text-block {
        display: grid;
        grid-template-columns: 1fr 1.9fr;
        .img-left {
            width: 100%;
            height: 109%;
            transform: translateY(-8%);
            background-size: cover;
            background-image: url(../img/laptop-accessories-table.png);
            background-position: right;
        }
        .text {
            position: relative;
            overflow: hidden;
            padding: 10.1vw 0 7vw 0;
            p {
                padding: 0 0 0 3.1vw;
            }
            h3 {
                padding: 1.6vw 0 0 8vw;
                max-width: 840px;
            }
            .btn {
                margin: 3.2vw 0 0 8vw;
            }
            &:before {
                content: "";
                position: absolute;
                background-color: $blue_5;
                top: 1.2vw;
                right: -26%;
                width: 24vw;
                height: 24vw;
                border-radius: 50%;
                z-index: -1;
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 0;
                background-repeat: no-repeat;
                background-size: contain;
                width: 3.8vw;
                height: 6.3vw;
                right: 3.5vw;
                top: 2vw;
                background-image: url(../img/rectangle-w5-purple.svg);
            }
        }

    }
}